
@{
    ViewBag.Title = "WrongPassword";
}

<h1>The Passwords you entered are not same.</h1>
<h2>Please try again!!!</h2>
@using (Html.BeginForm("Register", "SignUp", FormMethod.Post))
{
    <table>
        <tr>
            <td><input type="submit" value="Try Again!" /></td>
        </tr>
    </table>
}

