@using MyApp1.Models;

@{
    ViewBag.Title = "About";
    Data data = (Data) ViewData["data1"];
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>@data.Greeting</p>
<p>@data.From</p>

<p>Use this area to provide additional information.</p>
