@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Haaaaaaaaaa~~~~~~</h1>
    <form action="~/Home/CreateDepartment" method="post">
        <table>
            <tr>
                <td colspan="3">Create Department</td>
            </tr>
            <tr>
                <td>Department：</td>
                <td colspan="2"><input type="text" name="department" /></td>
            </tr>
            <tr>
                <td>Course：</td>
                <td colspan="2"><input type="text" name="course" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit" /></td>
                <td></td>
            </tr>
        </table>
    </form>
</div>